<section class="about">

    <h1 class="text-center"> About Us </h1>

    <div class="hello card mb-6 text-center m-auto shadow-lg" style="max-width: 900px;">
        <div class="row">
          <img src="../../assets/wall.jpg" class="card-img" alt="Founder Pic">
          <div class="card-body">
            <h4 class="card-title text-center">Abhishek Dubey</h4>
            <h5 class="text-center">Salesforce</h5>
            <p class="card-text text-center">My name is Abhishek Dubey, and I wrote the easiest guide to starting a blog, so that you can start your blog today!
            I was lucky enough to get started working on websites in Angular 11. 
            And you know what? It hasn’t slowed down since then. Technology keeps changing at a rapid pace. 
            I have seen things come and go, but one of the things that’s stuck around without changing too much is blogging. People love to share their thoughts and ideas, and other people love to read them. <br> I am a project trainee at Teksystems Global Servives, and also the developer of this application, so feel free to contact me. Happy Blogging</p>
            <p class="card-text text-center"><small class="text-muted">Founder since developed...</small></p>
          </div>
          <div>
              <a href="https://www.linkedin.com/in/abhishek--dubey/"><img src="../../assets/link.jpg" alt="LinkedIn" style="width: 80px;height:50px;"></a>
          </div>
        </div>
    </div>

</section>