<section class="about">

    <h1 class="text-center"> About Us </h1>

    <div class="hello card mb-6 text-center m-auto shadow-lg" style="max-width: 900px;">
        <div class="row">
          <img src="../../assets/wall.jpg" class="card-img" alt="Founder Pic">
          <div class="card-body">
            <h4 class="card-title text-center">Abhishek Dubey</h4>
            <h5 class="text-center">Salesforce</h5>
            <p class="card-text text-center">Abhishek Dubey who is project trainee at Teksystems Global Servives, and the developer of this application, so feel free to contact him at abhishekdubey4721@gmail.com</p>
            <p class="card-text text-center"><small class="text-muted">Founder since developed...</small></p>
          </div>
          <div>
              <a href="https://www.linkedin.com/in/abhishek--dubey/">LinkedIn</a>
          </div>
        </div>
    </div>

</section>