<section class="home">
    <img src="../../assets/wall.jpg">

    <div class="homecontent">
        <h1 class="text-center">Hey Buddy!</h1>
        <h2 class="text-center">Write your Blog today</h2> <br>
        <a routerLink="create" class="btn btn-lg btn-dark">Write Blog</a> &nbsp;&nbsp;
        <a routerLink="read" class="btn btn-lg btn-dark">Read/Delete Blog</a> &nbsp;&nbsp;
        <a routerLink="update" class="btn btn-lg btn-dark">Update Blog</a> &nbsp;&nbsp;
    </div>
</section>
<router-outlet></router-outlet>